@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --amarelo-fraco: #F9EBD2;
    --rosa-choque: #FF3049;
    --azul-clarinho: #2FC0FF;
    --amarelo-forte: #F4B526;
    --branco: #e3e9f7;
}

/* Mobile FIRST*/

* {
    font-family: Montserrat, Verdana, Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
    border-bottom: 1px solid #cfcfcf;
    position: fixed;
    width: 100%;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 0 40px;
    font-weight: 800;
    color: var(--azul-clarinho);
}

.nav-list {
    display: flex;
    margin: 0 40px;
    gap: 20px;
    list-style: none;
    padding: 20px 0;
}

.nav-list-link {
    padding: 20px 10px;
    text-decoration: none;
    color: black
}

.nav-list-item:hover, .nav-list-link:hover {
    transform: translateY(-3px);
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    color: var(--rosa-choque);
}

#container-1 {
    background-color: var(--branco);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    background-image: url(../img/background.svg);
    background-repeat: none;
    background-size: cover;
}

.container-box {
    display: flex;
    justify-content: center;
    margin: 0 2.5rem;
    padding: 0 2rem;
}

.text-box {
    width: 50%;
}

.text-box h1 {
    font-size: 1.2rem;
    margin: 0.8rem 0;
}

.myname {
    background-color: var(--rosa-choque);
    color: white;
}

#ocult {
    display: none;
}

#dinamic-text {
    font-weight: 400;
}

.about-me {
    font-size: 0.8rem;
    font-weight: 800;
    padding-top: 0.8rem;
    padding-bottom: 0.2rem;
}

.about-me-text {
    padding-bottom: 15px;
    width: 80%;
}

.image-box img{
    height: 12rem;
    border-radius: 10px;
    
}

.social-media-box {
    display: flex;
    gap: 10px;
}

.social {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 0.2rem;
    margin-right: 1.2rem;
    color: black;
}

.social i {
    font-size: 1.7rem;
    transition: color .2s ;
}

.social:hover {
    color: var(--rosa-choque);
}